[Desktop Entry]
Version=1.0
Type=Link
Name=atmega16 XML Link
Comment=
Icon=user-bookmarks
URL=https://sourceforge.net/p/embsysregview/code/HEAD/tree/trunk/org.eclipse.cdt.embsysregview.data/data/8bit/Atmel/atmega16.xml
